<html>
    <head>
        <title>Star Trek</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="margin: auto;">
            <ol>
                {% for episode in episodes %}
                <li>{{ episode.episode.title }}</li>
                {% endfor %}
            </ol>
        </div>
    </body>
</html>
