<html>
    <head>
        <title>Star Trek</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="margin: 10px;">
            <form method="GET">
                <select name="series">
                    {% for series in series_list %}
                        <option value="{{series.series.value}}" {%if series.selected %} selected {%endif%}>{{series.series.name}}</option>
                    {% endfor %}
                </select>

                <select name="season">
                    {% for season in seasons %}
                        <option value="{{ season.number }}" {% if season.selected %} selected {% endif %}>{{ season.display }}</option>
                    {% endfor %}
                </select>

                <input type="checkbox" id="showDescription" name="description" value="show" {% if show_description %} checked {% endif %}>
                <label for="showDescription">Show Description</label>

                <button type="submit" class="btn">Engage</button>
            </form>
        </div>
        <div>
            <ol>
                {% for episode in episodes %}
                <li>
                    {{ episode.episode.title }}
                    {% if show_rank %}
                        ({{episode.rank}})
                    {% endif %}
                    {% if show_description %}
                        - {{episode.episode.description}}
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </body>
</html>
